:root {
  --currentColor: #212121;
  --color-light: white;
  --color-dark: #212121;
  --color-signal: #fab700;

  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);

  --size-bezel: .5rem;
  --size-radius: 4px;
}
.examples {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 30px;
  max-width: 1100px;
  margin: 30px auto;
}

.examples-left {
  border-right: 1px solid #e5e5e5;
  min-height: 500px;
  padding-right: 20px;
}
.examples-left a {
  color: white;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  border: 1px solid #e5e5e530;
  margin-bottom: 5px;
  padding: 10px 20px;
  display: block;
}
/* Form Validate */
.form-validate {
  background: var(--color-background);
  padding: calc(4 * var(--size-bezel));
  border-radius: var(--size-radius);
  border: 3px solid var(--currentColor);
  box-shadow: 0.5rem 0.5rem 0 var(--color-shadow, currentColor);
  max-width: 576px;
  margin: 0 auto;
}
.form-validate .input {
  position: relative;
}
.form-validate .input_label {
  display: inline-block;
  padding-bottom: 5px;
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  transition: transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
  color: black;
}
.form-validate .error {
  max-width: 576px;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 22px;
  font-weight: 500;
  text-align: left;
}
.form-validate input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 3px solid var(--currentColor);
  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
  color: var(--currentColor);
  background: transparent;
  border-radius: var(--size-radius);
  margin-bottom: 20px;
}
.form-validate button {
  color: currentColor;
  padding: var(--size-bezel) calc(var(--size-bezel) * 2);
  background: var(--color-accent);
  border: none;
  border-radius: var(--size-radius);
  font-weight: 900;
}
/* Counter */
.counter {
  display: grid;
  grid-template-columns: 35px 50px 35px;
  height: 50px;
}
.counter-btn {
  border: 1px solid #c4c4c450;
  display: flex;
  place-content: center;
  font-size: 15px;
  font-weight: 700;
  color: white;
  background-color: transparent;
  line-height: 50px;
  cursor: pointer;
}
.counter input {
  border-color: #c4c4c450;
  border-width: 0 1px 0 1px;
  border-style: solid;
  font-size: 20px;
  appearance: none;
  text-align: center;
  padding: 0;
  line-height: 50px;
}


body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
  padding: 125px 20px 20px 20px;
  color: white;
}

.navMenu {
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 150px;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(75px);
  transform: translateX(75px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(75px);
  transform: translateX(75px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(225px);
  transform: translateX(225px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(375px);
  transform: translateX(375px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(525px);
  transform: translateX(525px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}